<header class="header">
    <h1 class="header__main-title">Конвертер валют на Angular</h1>
    <p class="header__paragraph">
        Дані, які використовуються в даному сайті приходять з 
        <a href="https://bank.gov.ua/ua/open-data/api-dev">публічного API Національного Банку України</a>
    </p>
    <h2 class="header__date-title">Актуальний курс валют на {{todayString}}</h2>
    <ul class="header__list">
        <app-exchange-rates
            *ngFor="let iterCur of fetchedCurrensies"
            [currency] = "iterCur"
        ></app-exchange-rates>
    </ul>
</header>
<main class="main">
    <h2 class="main__title">Конвертувати валюту</h2>
    <app-convert-component [currensies] = 'fetchedCurrensies'></app-convert-component>
</main>